.footer {
    background-color: $colorDarkBlue;
    color: $colorPrimary;
    font-family: $fontText;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &_btn {
        background: url('../images/ico-arrow.svg') no-repeat $colorPrimary center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        top: -22.5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        animation-name: button;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes button {
    from {
        height: 45px;
        border-radius: 50%;
        transform: translate(0, 0);
        background-position-y: 15px;
    }
    to {
        height: 70px;
        border-radius: 22.5px;
        transform: translate(0, -15px);
        background-position-y: 5px;
    }
}

.footer_nav {
    padding-top: 60px;
}

.footer_nav_menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer_nav_social_menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer_copy {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0;
}

.footer_footer {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin-top: 0;

    &_heart {
        color: $colorButtons;
    }
}

