.footer {
    background-color: $colorDarkBlue;
    color: $colorPrimary;
    font-family: $fontText;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &_btn {
        background: url('../images/ico-arrow.svg') no-repeat $colorPrimary center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        top: -22.5px;
        box-shadow: 2px 2px 5px black;
    }
}

.footer_nav {
    padding-top: 60px;
}

.footer_nav_menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer_nav_social_menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer_copy {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0;
}

.footer_footer {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin-top: 0;

    &_heart {
        color: $colorButtons;
    }
}

