<main class="footer">
    <nav class="footer_btn"></nav>
    <nav class="footer_nav">
        <ul class="footer_nav_menu">
            <li class="footer_nav_menu_item">articles</li>
            <li class="footer_nav_menu_item">books</li>
            <li class="footer_nav_menu_item">events</li>
            <li class="footer_nav_menu_item">reasons</li>
            <li class="footer_nav_menu_item">tips</li>
        </ul>
    </nav>
    <nav class="footer_nav_social">
        <ul class="footer_nav_social_menu">
            <li class="footer_nav_social_menu_item">twitters</li>
            <li class="footer_nav_social_menu_item">instagram</li>
            <li class="footer_nav_social_menu_item">mastodon.social</li>
        </ul>
    </nav>
    <p class="footer_copy">&copy2017</p>
    <p class="footer_footer">we <span class="footer_footer_heart">❤︎</span> components</p>
</main>