<main class="footer">
    <a class="footer_btn" href="#header" title="ir al comienzo"></a>
    <div class="footer_content">
        <nav class="footer_nav">
            <ul class="footer_nav_menu">
                <li class="footer_nav_menu_item">articles</li>
                <li class="footer_nav_menu_item">books</li>
                <li class="footer_nav_menu_item">events</li>
                <li class="footer_nav_menu_item">reasons</li>
                <li class="footer_nav_menu_item">tips</li>
            </ul>
        </nav>
        <nav class="footer_nav_social">
            <ul class="footer_nav_social_menu">
                <li class="footer_nav_social_menu_item">twitters</li>
                <li class="footer_nav_social_menu_item">instagram</li>
                <li class="footer_nav_social_menu_item">mastodon.social</li>
            </ul>
        </nav>
        <div class="footer_footer">
            <p class="footer_footer_copy">&copy2017</p>
            <p class="footer_footer_text">we <span class="footer_footer_heart">❤︎</span> components</p>
        </div>
    </div>
</main>